body{
  background-color: #8f21f3;
  color: #eee;
}

.loading{
  margin-top: 25%;
  text-align: center;
}

.weather{
  margin: 0 auto;
  text-align: center;
}

.weather i{
  font-size: 4em;
}

.weather .data > .actualTemp{
  font-size: 4em;
}

.minAndMaxTemp >.minTemp, 
.minAndMaxTemp > .maxTemp{
  display: inline-block;
  padding: 5px;
}

.minAndMaxTemp >.minTemp > span, 
.minAndMaxTemp > .maxTemp > span{
  font-size: .7em;
}

.forecast{
  text-align: center;
  margin-top: 30px;
}

.forecastDay{
  display: inline-block;
  padding: 30px 10px;
  margin: 10px;
  border: 1px solid #783d83;
  border-radius: 10px;
}

.forecastDay i{
  font-size: 3em;
}
